body {
	background-image: url("../images/backgroundImage.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	/*opacity: .5;*/
}

#display {
	text-align: center;
}

#start {
	position: absolute;
	top: 200px;
	left: 43%;
	height: 150px;
	width: 200px;
	font-size: 50px;
	font-weight: bold;
}

h1 {
	text-align: center;
	padding-top: 50px;
	font-size: 40px;
	color: white;
	font-style: italic;
}

#main {
	color: white;
	text-align: center;
	font-size: 24px;
}

#main-container {
	padding-top: 20px;
}

#q1 {
	padding-top: 20px;
}

form {
	padding-bottom: 20px;
}

button:hover {
	background-color: black;
	color: white;
}

button {
	-webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    background-color: transparent;
}

#reset, img {
	width: 60px;
	height: 50px;
	font-weight: bold;
	font-size: 14px;
}
#submit {
	width: 110px;
	height: 60px;
	font-size: 20px;
	font-weight: bold;
}

#pause-play {
	border: none;
	position: absolute;
	top: 90%;
	left: 92%;
}

#reset {
	text-align: center;
	position: absolute;
	top: 90%;
	left: 3%;
}

/*button {
    -webkit-transition-duration: 0.4s; /* Safari */
    /*transition-duration: 0.4s;*/
/*}*/

@media screen and (max-width: 980px) {
	body {
		max-width: 100%;
		width: 100%;
		background-size: cover;
	}
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 640px) {

	
}
